# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#other helper projects
*.pyc
*.prefs
*.genmodel
*.flexmi.xmi
plugins/org.eclipse.epsilon.eol.engine
plugins/org.eclipse.epsilon.erl.engine
generator/org.eclipse.epsilon.fairml.generator/fairml.py
generator/org.eclipse.epsilon.fairml.generator/automated_selection.flexmi.xmi
generator/org.eclipse.epsilon.fairml.generator/automated_selection.ipynb
generator/org.eclipse.epsilon.fairml.generator/automated_selection.py
generator/org.eclipse.epsilon.fairml.generator/demo.flexmi.xmi
generator/org.eclipse.epsilon.fairml.generator/demo.flexmi
generator/org.eclipse.epsilon.fairml.generator/demo.ipynb
generator/org.eclipse.epsilon.fairml.generator/demo.py
graphics
generator/org.eclipse.epsilon.fairml.generator/.ipynb_checkpoints
generator/org.eclipse.epsilon.fairml.generator/test-model/__pycache__
generator/org.eclipse.epsilon.fairml.generator/test-model/common_utils.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_adversarial_debiasing.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_adversarial_debiasing.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_calibrated_eqodds_postprocessing.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_calibrated_eqodds_postprocessing.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_disparate_impact_remover.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_disparate_impact_remover.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_exponentiated_gradient_reduction.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_exponentiated_gradient_reduction.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_lfr.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_lfr.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_meta_classifier.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_meta_classifier.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_optim_preproc_adult.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_optim_preproc_adult.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_reject_option_classification.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_reject_option_classification.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_reweighing_preproc.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_reweighing_preproc.py
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_short_gerryfair_test.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/demo_short_gerryfair_test.py
generator/org.eclipse.epsilon.fairml.generator/test-model/fairml.py
generator/org.eclipse.epsilon.fairml.generator/test-model/paper_demo.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/paper_demo.py
generator/org.eclipse.epsilon.fairml.generator/test-model/tutorial_credit_scoring.ipynb
generator/org.eclipse.epsilon.fairml.generator/test-model/tutorial_credit_scoring.py
generator/org.eclipse.epsilon.fairml.generator/test-model/tutorial_medical_expenditure.flexmi
generator/org.eclipse.epsilon.fairml.generator/test-model/common_utils.py
generator/org.eclipse.epsilon.fairml.generator/test-model/common_utils.py
