<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fairml -->
      <package
            uri="fairml"
            class="fairml.FairmlPackage"
            genModel="metamodel/fairml.genmodel"/>
   </extension>

</plugin>
